@model Blog.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="col-sm-10">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>
    <hr />
    <div class="row">
        <div class = "col-sm-2">
            <h4>Contenido:</h4>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Content) </p>
        </div>
        <div class = "col-sm-2">
            <h4>Creado en:</h4>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.CreatedAt)</p>
        </div>
        <div class = "col-sm-2">
            <h4>Actualizado en:</h4>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.UpdatedAt)</p>
        </div>
        <div class = "col-sm-2">
            <h4>Autor:</h4>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</p>
        </div>
        <div class = "col-sm-2">
            <h4>Categoria:</h4>
        </div>
        <div class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.CategoryId)</p>
        </div>
        <div class="col-sm-2">
            <h4>Imagen:</h4>
        </div>
       <div class="col-sm-12">
            @{
                var base64String = Convert.ToBase64String(Model.Image);
                var imageSource = $"data:image/jpeg;base64,{base64String}";
            }
            <img src="@imageSource" alt="Post Image" class="index-image" />
        </div>
    </div>

    <div style="padding:10px;">
        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
    </div>
    <div class="card-no-border">
        <h4 id="prueba">Comentarios</h4>
        <form id="commentForm" onsubmit="CreateComment(event)">        
            <textarea id="commentText" class="form-control" name="commentText" placeholder="Añada un nuevo comentario" maxlength="300" cols="100" rows="5"></textarea>
            <br />
            <button class="btn btn-secondary btn-sm" type="submit">Agregar</button>
        </form>
        <br />
        <div class="comment-section" id="commentsSection">
        </div>
    </div>
</div>


@section scripts {
    <script>
        function CreateComment(event){
            event.preventDefault();

            var text = document.getElementById('commentText').value;            

            fetch('/Comments/Create?text=' + text + '&blogPostId=' + @Model.Id, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },                
            })
            .then(response => response.json())
            .then(data => {
                fetchComments();             
            })
            .catch(error => {
                console.error('Error creating comment: ',error);
            })

            document.getElementById('commentForm').reset();
        }

        function fetchComments() {
            fetch('/Comments/GetComments?blogPostId='+@Model?.Id)
                .then(response => response.json())
                .then(comments => {
                    const commentsContainer = document.getElementById('commentsSection');
                    commentsContainer.innerHTML = '';
                    
                    comments.forEach(comment => {                        
                        const commentElement = document.createElement('div');                                 
                        commentElement.innerHTML = `
                                        <h5 class="comment-title">${comment.authorName}</h5>
                                        <p class="comment-date">${comment.createdAt}</p>
                                        <p class="comment-date">${comment.email}</p>
                                        <p comment-content>${comment.text}</p>
                                        <hr />
                                        `;
                        commentsContainer.appendChild(commentElement);
                    });
                })
                .catch(error => {
                    console.error('Error fetching comments:', error);
                });
        }

        fetchComments();
    </script>
}