@model Blog.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="form-container wider-details form-text ">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="row">
            <div class="col-sm-2">
                <label>Contenido:</label>
            </div>
            <div class="col-sm-10">
                <p>@Html.DisplayFor(model => model.Content)</p>
            </div>
            <div class="col-sm-2">
                <label>Creado en:</label>
            </div>
            <div class="col-sm-10">
                <p>@Html.DisplayFor(model => model.CreatedAt)</p>
            </div>
            <div class="col-sm-2">
                <label>Actualizado en:</label>
            </div>
            <div class="col-sm-10">
                <p>@Html.DisplayFor(model => model.UpdatedAt)</p>
            </div>
            <div class="col-sm-2">
                <label>Autor:</label>
            </div>
            <div class="col-sm-10">
                <p>@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</p>
            </div>
            <div class="col-sm-2">
                <label>Categoria:</label>
            </div>
            <div class="col-sm-10">
                <p>@Html.DisplayFor(model => model.CategoryId)</p>
            </div>
            <div class="col-sm-2">
                <label>Imagen:</label>
            </div>
            <div class="col-sm-10">
                @{
                    var base64String = Convert.ToBase64String(Model.Image);
                    var imageSource = $"data:image/jpeg;base64,{base64String}";
                }
                <img src="@imageSource" alt="Post Image" class="details-image" />
            </div>
        </div>


    <div class="text-center">
            <button type="button" class="btn btn-details" onclick="location.href='@Url.Action("Edit", new { id = Model?.Id })'">Editar</button>
            <button type="button" class="btn btn-details btn-volver" onclick="location.href='@Url.Action("Index")'">Volver a la lista</button>
    </div>

        <label id="prueba">Comentarios</label>
        <form id="commentForm" onsubmit="CreateComment(event)">
            <textarea id="commentText" class="form-control" name="commentText" placeholder="Añada un nuevo comentario" maxlength="300" cols="100" rows="5"></textarea>
            <br />
            <button class="btn btn-details btn-agregar" type="submit">Agregar</button>
        </form>

        <br />
        <br />
        <div class="comment-section" id="commentsSection">
        </div>
    </div>
</div>


@section scripts {
    <script>
        function CreateComment(event){
            event.preventDefault();

            var text = document.getElementById('commentText').value;            

            fetch('/Comments/Create?text=' + text + '&blogPostId=' + @Model.Id, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },                
            })
            .then(response => response.json())
            .then(data => {
                fetchComments();             
            })
            .catch(error => {
                console.error('Error creating comment: ',error);
            })

            document.getElementById('commentForm').reset();
        }

        function fetchComments() {
            fetch('/Comments/GetComments?blogPostId='+@Model?.Id)
                .then(response => response.json())
                .then(comments => {
                    const commentsContainer = document.getElementById('commentsSection');
                    commentsContainer.innerHTML = '';
                    
                    comments.forEach(comment => {                        
                        const commentElement = document.createElement('div');
                        const date = new Date(comment.createdAt);
                        const formattedDate = date.toLocaleDateString();
                        commentElement.innerHTML = `
                                        <h5 class="comment-title">${comment.authorName}
                                            <a href="/Comments/Delete/${comment.id}" class="badge bg-secondary" data-toggle="tooltip" data-placement="top" title="Borrar">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                            <a href="/Comments/Edit/${comment.id}" class="badge bg-secondary" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </h5>
                                        <p class="comment-date">${formattedDate}</p>
                                        <p class="comment-date">${comment.email}</p>
                                        <p comment-content>${comment.text}</p>
                                        <hr />
                                        `;
                        commentsContainer.appendChild(commentElement);
                    });
                })
                .catch(error => {
                    console.error('Error fetching comments:', error);
                });
        }

        fetchComments();
    </script>
}