@model IEnumerable<Blog.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
    var pageSize = 5; // Cantidad de elementos por página
    var pageCount = (int)Math.Ceiling((double)Model.Count() / pageSize);
}

<div class="container">
    <div class="row gx-md-5">
        <div class="col-lg-9" style="justify-self: center;">
            @for (int i = 0; i < pageCount; i++)
            {
                @foreach (var item in Model.Skip(i * pageSize).Take(pageSize))
                {
                    <div class="card-no-border">
                        @{
                            var base64String = Convert.ToBase64String(item.Image);
                            var imageSource = $"data:image/jpeg;base64,{base64String}";
                        }
                        <h3 class="h3">@item.Title <small class="small">@item.CreatedAt.ToString("dd/MM/yyyy")</small></h3>
                        <div class="image-container">
                            <img src="@imageSource" alt="Post Image" class="index-image" />
                        </div>
                        @if (item.Content.Length > 300)
                        {
                            <p class="p-content">@Html.Raw(Html.Encode(item.Content.Substring(0, 300)))... <a href="@Url.Action("Details", "BlogPosts", new { id = item.Id })" class="ver-mas-btn">Ver más</a></p>
                        }
                        else
                        {
                            <p class="p-content">@Html.Raw(Html.Encode(item.Content))</p>
                        }
                        <div class="box d-flex align-items-center">
                            @if (item.Author is not null)
                            {
                                <p class="mr-3 mr-3-with-padding">Autor: <a href="/BlogPosts/PostsByAuthor/@item.AuthorId" class="comentts">@item.Author.FirstName @item.Author.LastName</a></p>
                            }
                            else
                            {
                                <p class="mr-3 mr-3-with-padding">Autor: Desconocido</p>
                            }
                            @if (item.Comments is not null)
                            {
                                <p class="mr-3"><a href="/BlogPosts/Details/@item.Id#commentForm" class="comentts">Comentarios: @item.Comments.Count</a></p>
                            }
                            else
                            {
                                <p class="mr-3">Comentarios: 0</p>
                            }
                        </div>
                    </div>
                    <div style="margin-bottom: 30px;"></div>
                }
            }
        </div>
        <div class="col-lg-3" style="justify-self: end;">
            <h3>Categor&iacute;as</h3>
            <div id="listOfCategories"></div>
            <br>
            <h3>Autores: </h3>
            <div id="listOfAuthors"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function fetchCategories() {

                fetch('/Categories/GetAllCategories')
                    .then(response => response.json())
                    .then(categories => {
                        const container = document.getElementById('listOfCategories');
                        container.innerHTML = '';
                        container.classList.add('list-group')
                        categories.forEach(category => {
                            const item = document.createElement('a');
                            item.classList.add('list-group-item', 'list-group-item-action');
                            item.textContent = category.name;
                            item.href = `/BlogPosts/PostsByCategory/${category.id}`;
                            container.appendChild(item);
                        });
                    })
                    .catch(error => {
                        console.error('Error loading categories: ', error);
                    })
            }

            function fetchAuthors() {
                const container = document.getElementById('listOfAuthors');
                container.innerHTML = '';
                container.classList.add('list-group');

                fetch('/BlogPosts/GetAllAuthors')
                    .then(response => response.json())
                    .then(authors => {
                        authors.forEach(author => {
                            const item = document.createElement('a');
                            item.classList.add('list-group-item', 'list-group-item-action');
                            item.textContent = author.name;
                            item.href = `/BlogPosts/PostsByAuthor/${author.id}`;
                            container.appendChild(item);
                        });
                    })
                    .catch(error => {
                        console.error('Error loading categories: ', error);
                    })
            }

            fetchCategories();
            fetchAuthors();
        });
    </script>
}